  <footer class="footer">
  <div class="footer-container">
    <!-- Logo y nombre -->
    <div class="footer-logo">
      <img src="/images/logo.png" alt="Logo de EspaPelis" />
      <span>EspaPelis</span>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 EspaPelis. Todos los derechos reservados.</p>
    </div>


    <!-- Redes sociales -->
    <div class="footer-social">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</footer>