:root{
    --primary-background : #ff9800;
    --primary-color : #fff;
    --primary-background-hover:#e65100;
    --secondary-background : #607d8b;
    --secondary-background-glass: #607d8bd5;
    --secondary-background-hover: #263238;
    --max-width-page : 900px;
    --padding-page : 2rem;
}   