<footer id="pie">
    <p>
        © 2024 Francisco Romero | Contacto:
        <a href="mailto:francisco.romero@email.com"
        >francisco.romero@email.com</a
        >
    </p>
    <p>
        Sígueme en
        <a href="https://twitter.com/franciscoromero" target="_blank"
        >Twitter</a
        >
        |
        <a href="https://github.com/franciscoromero" target="_blank">GitHub</a>
    </p>
</footer>