/* ----- COLLECTION SECTION ----- */
.collection {
    padding: 50px;
    margin-bottom: 50px;
}

.latest-collection p {
    color: #2B6CED;
}

.latest-collection h1 {
    margin-bottom: 30px;
}

.collection-body {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 30px;                            
    align-items: center;                     
    padding-top: 20px;
    justify-items: center;
}

.collection-body > .movie-card {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.movie-card {
    width: 350px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: #c1c1c1 1px solid;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.movie-card:hover {
  transform: scale(1.05) translateY(-5px); /* zoom + ligera elevación */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35); /* sombra más marcada */
  border-radius: 12px;

}
.movie-image {
  position: relative; 
  display: inline-block;
}

.movie-image img {
  display: block;
  width: 100%;
  object-fit: cover;
  max-height: 350px; 
}

.overlay {
  position: absolute;
  top: 10px;     
  right: 10px;   
  background: rgba(232, 232, 232, 0.9);
  color: #000000;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 600;
}


.movie-info {
    padding: 20px;
    display: flex;
    flex-direction: column; 
    height: 100%;
    justify-content: space-between
}

.movie-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.year-category span {
    margin-right: 10px;
    color: #777;
}

.year-category span:last-of-type {
    padding: 2px 8px;
    border-radius: 100px;
    border: #E8E8E8  1px solid;

}

.details-button button {
    padding: 10px;
    width: 100%;
    background: #2B6CED;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.detail-button {
    margin-top: auto; 
}
.director {
    color: #555;
    font-size: 14px;
    margin: 5px 0;
}
.btn-view-details:hover {
    background: #265dcc;
}
.description {
    font-style: italic;
    max-height: 120px;
    overflow: hidden;
    text-overflow:clip;
    margin-bottom: 10px;
}
#logout-btn {
margin-left: 10px;
  padding: 10px 16px;
  background-color: #DC2626;      
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#logout-btn:hover {
  background-color: #ac1d1d;       
  transform: scale(1.03);          
}
.state-bad, .state-good, .state-new, .state-unknown {
    padding: 8px;
    border-radius: 16px;
    width: fit-content;
}

.state-new {
    color: #166534;
    font-weight: bold;
    background-color: #DCFCE7;
}


.state-good {
  color: #854D0E;
  font-weight: bold;
  background-color: #FEF9C3;
}

.state-bad {
  color: #991B1B;
  font-weight: bold;
  background-color: #FEE2E2;
}

.state-unknown {
  color: gray;
}
