* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #222;
}
i:not(.user-icon i) {
  margin-right: 8px;
}



/* ----- WELCOME SECTION ----- */
.welcome-section {
    padding: 60px;
    text-align: center;
    background: rgb(253, 253, 253);
    color: white;
    background: url('/images/background.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.welcome-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(43, 108, 237, 0.6);  
    z-index: 0;
}
.welcome-body {
  position: relative;
  z-index: 1; 
}
.welcome-subtitle {
    color: #ffffff;
    font-size: 13px;
}

h1 {
    margin: 10px 0 20px;
}

.welcome-buttons {
    margin-top: 20px;
}

.btn-primary,
.btn-secondary {
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 6px;
    margin: 0 10px;
    display: inline-block;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.btn-primary {
    background: #ffffff;
    color: #2B6CED;
    border: 2px solid transparent;
}
.btn-primary:hover {
  background: #2B6CED;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(43, 108, 237, 0.4);
}

.btn-secondary {
    background: transparent;
    border: white 2px solid;
    color: white;
}
.btn-secondary:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #FDDE49; 
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
}
.highlight {
    color: #FDDE49;
}

