body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #f2f2f2;
  font-family: 'Segoe UI', sans-serif;
}

.login-section {
  display: grid;
  gap: 20px;
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: #2B6CED;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-logo img {
  width: 65%;
  height: auto;
}

.login-text p {
  color: #555;
  margin: 0;
}

.login-body {
  display: grid;
  gap: 15px;
}

.login-with-google {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
}

.login-with-google img {
  width: 15px;
  height: 15px;
  justify-self: center;
}

.linea-or { 
  display: flex; 
  align-items: center; 
  width: 100%; 
  gap: 10px; 
} 
.linea-or hr { 
  flex: 1; 
  border: none; 
  height: 1px; 
  background-color: #ccc; 
  margin: 0; 
} 
.linea-or span { 
  font-size: 14px; 
  color: #666; 
  white-space: nowrap; 
}

input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.login-button, .login-cancel {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0px 10px 0px;
}

.login-button {
  background: #0F172A;
}

.login-cancel {
  background: #DC2626;
}

.signup-link {
  font-size: 14px;
  color: #555;
}

.signup-link a {
  color: #000;
  text-decoration: none;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}
#name, #email, #password {
  margin: 15px 0px 10px 0px;
}
