<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<body>
  <main id="content">
    <section class="login-section">
      <div class="login-body">
        <div class="login-logo">
          <img src="/images/logo.png" alt="Logo de EspaPelis" />
        </div>
        <div class="login-text">
          <h1>Welcome to EspaPelis</h1>
          <p>Please log in to continue</p>
        </div>
        <button disabled class="login-with-google"><img src="/images/google-icon.png" alt="Logo de Google" /> Continue with
          Google</button>
        <div class="linea-or">
          <hr>
          <span>or</span>
          <hr>
        </div>
        <form action="/login" method="POST" class="signin-form">
          <p>Email</p>
          <input type="email" placeholder="Email" name="email"/>
          <p>Password</p>
          <input type="password" placeholder="Password" name="password"/>
          <% if (typeof error !== 'undefined') { %>
            <div class="error-message"><%= error %></div>
          <% } %>
          <button class="login-button">Sign In</button>
          <p class="signup-link">Don't have an account? <a href="/signup">Sign Up</a></p>
        </form>
      </div>
    </section>

  </main>

</body>

</html>